### block list
SUMMARY.md
tool-about-azure.md
ServiceTags_Public_*.json
diff*.txt
test.json
test.xml
test.html
test.css
test.md
.zshrc
.DS_Store
*.cer
*.crt
*.key
*.pfx

file/*
img/chipbond
office/*
office/chipbond/*
local/*
test/*
knowledge/*
knowledge/oracle/*
knowledge/oracle/note/*
knowledge/oracle/script/*
knowledge/linux/*
knowledge/vm/*
knowledge/crawler/*
knowledge/erp/*
knowledge/infra/*
knowledge/infra/openshift/ser-info.txt
knowledge/exam/*

### open directories of interest and their contents
# office
!office
!office/chipbond
!office/chipbond/cb-2018.md
!office/chipbond/cb-2019.md
!office/chipbond/km.md
# knowledge
!knowledge
!knowledge/oracle
!knowledge/oracle/rman.md
!knowledge/oracle/startup-job.md
!knowledge/oracle/dataguard-demo.md
!knowledge/oracle/clone-db.md
!knowledge/oracle/oracle-db.md
!knowledge/oracle/dblink.md
!knowledge/oracle/mview.md
!knowledge/oracle/rac.md
!knowledge/oracle/partition.md
!knowledge/oracle/parameter.md
!knowledge/oracle/datapump.md
!knowledge/oracle/cloud-control.md
!knowledge/oracle/fake-disaster.txt
!knowledge/oracle/note
!knowledge/oracle/reorganization.md
!knowledge/oracle/script
!knowledge/oracle/script/*
!knowledge/linux
!knowledge/cloud
!knowledge/cloud/vpn.md
!knowledge/cloud/azure
!knowledge/cloud/azure/script
!knowledge/cloud/gcp
!knowledge/cloud/gcp/script.md
!knowledge/cloud/gcp/map-api.md
!knowledge/vm
!knowledge/vm/veeam.md
!knowledge/vm/vmware.md
!knowledge/vm/vbx.md
!knowledge/windows/
!knowledge/crawler
!knowledge/crawler/code.md
!knowledge/erp
!knowledge/infra
!knowledge/infra/openssl.md
!knowledge/infra/docker.md
!knowledge/infra/macos.md
!knowledge/infra/sharepoint.md
!knowledge/infra/gitlab.md
!knowledge/infra/zabbix.md
!knowledge/infra/windows.md
!knowledge/infra/network.md
!knowledge/infra/veeam.md
!knowledge/infra/elk.md
!knowledge/infra/openshift
!knowledge/infra/k8s
!knowledge/infra/docker
!knowledge/infra/paas
!knowledge/infra/web.md
!knowledge/infra/cert
!knowledge/infra/proxy
!knowledge/infra/elk
!knowledge/exam
!knowledge/exam/oracle-11g.md