### blacklist everything
*/
README.md
SUMMARY.md
.DS_Store

### whitelist directories of interest and their contents
# img
!img
!img/oracle
!img/oracle/troubleshooting
!img/vnc
!img/ibm
!img/windows
!img/virtualbox
!img/linux/
!img/linux/dataguard
!img/linux/lvm
!img/gcp
!img/veeam
!img/moss
# office
office/chipbond/*
!office
!office/chipbond
!office/chipbond/cb-2018.md
!office/chipbond/cb-2019.md
!office/chipbond/km.md
# knowledge
knowledge/*
knowledge/oracle/*
knowledge/oracle/note/*
knowledge/linux/*
knowledge/cloud/*
knowledge/gcp/*
knowledge/vm/*
knowledge/windows/*
!knowledge
!knowledge/oracle/
!knowledge/oracle/rman.md
!knowledge/oracle/startup-job.md
!knowledge/oracle/dataguard-demo.md
!knowledge/oracle/install-oracle-demo.md
!knowledge/oracle/note/
!knowledge/oracle/note/troubleshooting.md
!knowledge/linux
!knowledge/cloud/vpn.md
!knowledge/gcp/
!knowledge/gcp/script.md
!knowledge/vm
!knowledge/vm/vbx.md
!knowledge/windows/
!knowledge/windows/portable.md