### blacklist everything
*/
README.md
SUMMARY.md
.DS_Store

### whitelist directories of interest and their contents
# img
!img
!img/oracle
!img/oracle/troubleshooting
!img/vnc
!img/ibm
!img/windows
!img/virtualbox
!img/linux/
!img/linux/dataguard
!img/linux/lvm
!img/gcp
!img/veeam
!img/moss
# office
office/chipbond/*
!office
!office/chipbond
!office/chipbond/cb-2018.md
!office/chipbond/cb-2019.md
!office/chipbond/km.md
# knowledge
knowledge/*
knowledge/oracle/*
knowledge/oracle/note/*
knowledge/oracle/script/*
knowledge/linux/*
knowledge/cloud/*
knowledge/gcp/*
knowledge/vm/*
knowledge/windows/*
knowledge/crawler/*
knowledge/infra/*
knowledge/exam/*
!knowledge
!knowledge/oracle/
!knowledge/oracle/rman.md
!knowledge/oracle/startup-job.md
!knowledge/oracle/dataguard-demo.md
!knowledge/oracle/oracle-db.md
!knowledge/oracle/dblink.md
!knowledge/oracle/note/
!knowledge/oracle/note/troubleshooting.md
!knowledge/oracle/mview.md
!knowledge/oracle/datapump.md
!knowledge/oracle/cloud-control.md
!knowledge/oracle/script/
!knowledge/oracle/script/os-utility.*
!knowledge/oracle/script/os-init-setting.sh
!knowledge/oracle/script/check-dg-status.sql
!knowledge/oracle/script/mview.sql
!knowledge/oracle/script/procedure.md
!knowledge/linux
!knowledge/linux/initial-status.md
!knowledge/linux/required-software.md
!knowledge/linux/lvm.md
!knowledge/cloud/vpn.md
!knowledge/gcp/
!knowledge/gcp/script.md
!knowledge/vm
!knowledge/vm/vbx.md
!knowledge/windows/
!knowledge/windows/portable.md
!knowledge/crawler
!knowledge/crawler/code.md
!knowledge/infra
!knowledge/infra/docker.md
!knowledge/infra/macos.md
!knowledge/infra/sharepoint.md
!knowledge/infra/gitlab.md
!knowledge/infra/proxy.md
!knowledge/infra/zabbix.md
!knowledge/exam
!knowledge/exam/oracle-11g.md